<div class="hover-box">
    <!-- Display the Title -->
    <strong>
        <%= obj["Title"] || "N/A" %>
    </strong><br />

    <!-- Video (YouTube or Archive.org) -->
    <% if (obj["YouTube Clip ID"]) { %>
        <!-- Embed YouTube video -->
        <iframe 
            width="200" 
            height="113" 
            src="https://www.youtube.com/embed/<%= obj["YouTube Clip ID"] %>" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe><br />
    <% } else if (obj["Archive.org Clip ID"]) { %>
        <!-- Embed Archive.org video -->
        <iframe 
            width="200" 
            height="113" 
            src="https://archive.org/embed/<%= obj["Archive.org Clip ID"] %>" 
            title="Archive.org video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe><br />
    <% } %>

    <!-- Display an image only if no video is available -->
    <% if (!obj["YouTube Clip ID"] && !obj["Archive.org Clip ID"] && obj["Image URL"]) { %>
        <img src="<%= obj["Image URL"] %>" alt="Image of <%= obj["Title"] %>" style="width: 100px; height: auto; margin-top: 5px;"><br />
    <% } %>

    <!-- Display Release Year -->
    <strong>Release Year:</strong> <%= obj["Release Year"] || "N/A" %><br />

    <!-- Display Location -->
    <strong>Location:</strong> <%= obj["Location"] || "N/A" %><br />

    <!-- Display Director -->
    <strong>Director:</strong> <%= obj["Director"] || "N/A" %><br />

    <!-- Display Language -->
    <% if (obj["Language"]) { %>
        <strong>Language:</strong> <%= obj["Language"] %><br />
    <% } %>

    <!-- Display Length -->
    <% if (obj["Length"]) { %>
        <strong>Length:</strong> <%= obj["Length"] || "N/A" %><br />
    <% } %>

    <!-- Display Description -->
    <strong>Description:</strong> <%= obj["Description"] || "N/A" %><br />

    <!-- Additional Information (Website URL renamed) -->
    <% if (obj["Website URL"]) { %>
        <strong>Additional Information:</strong> 
        <a href="<%= obj["Website URL"] %>" target="_blank">Visit Website</a><br />
    <% } %>

    <!-- Display Rights -->
    <% if (obj["Rights"]) { %>
        <strong>Rights:</strong> 
        <% if (obj["Rights"] === "public domain") { %>
            <a href="http://rightsstatements.org/vocab/NoC-US/1.0/" target="_blank">Public Domain</a><br />
        <% } else if (obj["Rights"] === "non-commercial") { %>
            <a href="http://rightsstatements.org/vocab/NoC-NC/1.0/" target="_blank">Non-Commercial</a><br />
        <% } %>
    <% } %>
</div>
