<div class="hover-box">
    <!-- Display the Facility Name -->
    <strong>
        <%= obj["Facility Name"] %>
    </strong><br />

    <!-- Display Address -->
    <%= formatAddress(obj) %><br />

    <!-- Display Hours if available -->
    <% if (obj["Hours"]) { %>
        Hours: <%= obj["Hours"] %><br />
    <% } %>

    <!-- New Information -->
    <strong>Title:</strong> <%= obj["Title"] || "N/A" %><br />
    <strong>Director:</strong> <%= obj["Director"] || "N/A" %><br />
    <strong>Country:</strong> <%= obj["Country"] || "N/A" %><br />
    <strong>Release Year:</strong> <%= obj["Release Year"] || "N/A" %><br />
    <strong>Water:</strong> <%= obj["Water"] || "N/A" %><br />
    <strong>Description:</strong> <%= obj["Description"] || "N/A" %><br />

    <!-- Rights -->
    <% if (obj["Rights"]) { %>
        <strong>Rights:</strong> 
        <% if (obj["Rights"] === "public domain") { %>
            <a href="http://rightsstatements.org/vocab/NoC-US/1.0/" target="_blank">Public Domain</a><br />
        <% } else if (obj["Rights"] === "non-commercial") { %>
            <a href="http://rightsstatements.org/vocab/NoC-NC/1.0/" target="_blank">Non-Commercial</a><br />
        <% } %>
    <% } %>

    <!-- Display an image -->
    <% if (obj["Image URL"]) { %>
        <img src="<%= obj["Image URL"] %>" alt="Image of <%= obj["Facility Name"] %>" style="width: 100px; height: auto; margin-top: 5px;"><br />
    <% } %>

    <!-- Clickable link -->
    <% if (obj["Website URL"]) { %>
        <a href="<%= obj["Website URL"] %>" target="_blank">Visit Website</a><br />
    <% } %>

    <!-- YouTube video player -->
    <% if (obj["YouTube Clip ID"]) { %>
        <iframe 
            width="200" 
            height="113" 
            src="https://www.youtube.com/embed/<%= obj["YouTube Clip ID"] %>" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe><br />
    <% } %>
</div>
